// Paleta de Colores
$gris: #3c3d42;
$verde: #9ccd62;
$amarillo: #f6f8e2;
$crema: #e0ddca;
$negro: #000000;
$blanco: #ffffff;
// Fuentes
$fuentePrincipal: "Roboto Slab", sans-serif;
$fuenteTitulo: "Montserrat", sans-serif;
$fuenteSubTitulo: "Kanit", sans-serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
